{% extends "layout.html" %}

{% block content %}


<h2>Members of {{ group.member_group_name }} ({{group.member_group_type.member_group_type_label}} #{{group.member_group_id}})</h2>


<table border="0" cellpadding="0" cellspacing="0" class="grid">
<tr>
<th>ID</th>
<th>Login</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Status</th>
<th>Grouped</th>
</tr>

{% for gm in members %}
<tr class="{% cycle '' 'bg-shaded' %}">
<td><a href="/coop/member/{{gm.member_id}}">{{ gm.member_id }}</a></td>
<td>{{ gm.member.user.username }}</td>
<td>{{ gm.member.user.get_full_name }}</td>
<td><a href="mailto:{{ member.user.email }}">{{ gm.member.user.email }}</a></td>
<td>{{ gm.member.member_phone }}</td>
<td>{{ gm.member.member_status.member_status_label }}</td>
<td>{{ gm.member_group_member_ts|date:"Y-m-d" }}</td>
</tr>
{% endfor %}

</table>

{% if perms.coop.add_member %}[<a href="/coop/member/add?member_group_id={{ group.member_group_id }}">Add New Member</a>]{% endif %}

<br><br>
      <div class="float-block">
      <table border="0" cellpadding="0" cellspacing="0" class="grid">
        <thead>
      <th colspan="4" style="text-align: left">Notes for Group Members:</th>
      </thead>
        <tbody>
          {% for note in notes %}
          <tr class="{% cycle "" "bg-shaded" %}">
            <td style="white-space: nowrap">{{note.member_event_ts}}<br>
            </td>
            <td><a href="/coop/member/{{note.member.member_id}}">{{note.member.user.username}}</a> ({{note.member.user.first_name}})
            </td>
            <td>{{note.member_event_detail}}
            </td>
            <td><a href="/coop/member/{{note.added_by.member.member_id}}">{{note.added_by.first_name}}</a><br>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

      <div class="float-block">
      <table style="text-align: left;" border="0" cellpadding="0" cellspacing="0" class="grid">
      <thead><th style="text-align: left" colspan="5">Recent Events for Group:</th></thead>
        <tbody>
          {% for event in events %}
          <tr class="{% cycle "" "bg-shaded" %}">
            <td style="white-space: nowrap">{{event.member_event_ts}}<br>
            </td>
            <td><a href="/coop/member/{{event.member.member_id}}">{{event.member.user.username}}</a> ({{event.member.user.first_name}})
            <td>{{event.event_type.member_event_type_label}}
            </td>
            <td>{{event.member_event_detail}}
            </td>
            <td>{{event.added_by.first_name}}<br>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

{% endblock content %}



